body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #F5F5F5;
}
ul,
li {
  list-style: none;
}
#app {
  width: 700px;
  margin: auto;
  height: 700px;
  position: relative;
  flex-direction: column;
  border: 1px dotted pink;
}
#app header {
  text-align: center;
  clear: both;
}
#app header span {
  transform: translateX(5%);
  display: inline-block;
  font-weight: 600;
  font-size: 70px;
  color: #EAD7D7;
}
#app header label {
  width: 50px;
  height: 50px;
  display: inline-block;
  border: 1px solid black;
  position: relative;
  top: 69px;
  left: -583px;
  border: none;
}
#app header input {
  width: 599px;
  height: 50px;
  font-size: 30px;
  padding-left: 60px;
  font-family: 'Courier New', Courier, monospace;
  border-top: 0 ;
  border-bottom: 1px solid #E6E6E6;
  box-shadow: inset 0 -2px 1px rgba(0, 0, 0, 0.03);
  border-right: 1px solid #E6E6E6;
  border-left: 1px solid #E6E6E6;
}
#app section {
  width: 600px;
  height: 50px;
  position: relative;
  text-align: center;
  overflow: scroll;
}
#app section ul {
  left: -28px;
  top: -16px;
  width: 660px;
  position: absolute;
}
#app section ul li div {
  display: flex;
  width: 100%;
  height: 50px;
  background-color: #FFFFFF;
  border: 1px solid #E6E6E6;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  box-sizing: border-box;
}
#app section ul li div input {
  width: 35px;
  height: 35px;
}
#app section ul li div label {
  flex: 1;
  height: 48px;
  font-size: 30px;
  line-height: 48px;
  font-family: 'Courier New', Courier, monospace;
}
#app section ul li div .del {
  width: 40px;
  height: 40px;
  color: #AF5B5E;
  font-size: 20px;
  border: none;
  cursor: pointer;
  background-color: #FFFFFF;
}
#app footer {
  position: absolute;
  display: flex;
  width: 660px;
  height: 45px;
  background-color: #FFFFFF;
  box-sizing: border-box;
  align-items: center;
  left: 20px;
  bottom: 0;
  padding-left: 20px;
  color: #77778D;
  box-shadow: inset 0 -2px 1px rgba(0, 0, 0, 0.03);
  border-right: 1px solid #E6E6E6;
  border-left: 1px solid #E6E6E6;
}
#app footer div {
  width: 20%;
}
#app footer div span {
  font-weight: 600;
}
#app footer ul {
  width: 60%;
  float: left;
  padding-left: 100px;
  display: flex;
  align-items: center;
}
#app footer ul li {
  width: 35px;
  text-align: center;
  line-height: 0px;
  float: left;
  padding: 20px;
  cursor: pointer;
}
#app footer ul li a {
  color: #77778D;
  text-decoration: none;
}
#app footer .delAll {
  text-align: center;
  width: 20%;
  cursor: pointer;
}
#app header label::before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  border-top: 3px solid #737373;
  border-right: 3px solid #737373;
  position: absolute;
  top: 13px;
  left: 22px;
  transform: rotate(133deg);
}
.tui-checkbox:checked {
  background: #16ff35;
}
.tui-checkbox {
  width: 35px;
  height: 35px;
  background-color: #ffffff;
  border: solid 1px #dddddd;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  font-size: 0.8rem;
  margin: 0;
  padding: 0;
  position: relative;
  display: inline-block;
  vertical-align: top;
  cursor: default;
  -webkit-appearance: none;
  -webkit-user-select: none;
  user-select: none;
  -webkit-transition: background-color ease 0.1s;
  transition: background-color ease 0.1s;
}
.tui-checkbox:checked::after {
  content: '';
  top: 8px;
  left: 8px;
  position: absolute;
  background: transparent;
  border: #fff solid 2px;
  border-top: none;
  border-right: none;
  height: 9px;
  width: 15px;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
#app section ul li div .del:hover {
  color: tan;
}
#app footer .delAll:hover {
  text-decoration: underline;
  color: grey;
}
#app footer ul li a:hover {
  border: 1px solid grey;
}
